dist
node_modules
.DS_Store
.env
.env.local
typescript_service/.env
python_service/src/.env
python_service/src/dash/.env
__pycache__/
*.pyc
spark-warehouse/
.git
.pytest_cache/
.venv/
venv/
*.egg-info/
.vscode/
.idea/
*.log
